/*以下为必选样式*/
.forms{
    width: 33%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 33%;
    position:absolute;
    z-index: 9999;
}
.placeholder.action{
    background-color: transparent;
    margin-top: -45px;
    color: #808080;
    margin-bottom: -10px;
    margin-left: 6px;
    float: left;
    font-size: 12px;
}
.placeholder.dateAction{
    background-color: transparent;
    margin-top: -50px;
    color: #808080;
    margin-bottom: -10px;
    margin-left: 6px;
    float: left;
    font-size: 12px;
}
.placeholder {
    background-color: #fff;
    margin-top: -25px;
    margin-left: 12px;
    color: #808080;
    float: left;
}
